body {
	margin: 0px;
	padding: 0px;
	background-color: grey;
	font-family: Helvetica, san-serif;
}

.nav {
	padding:20px;
	background-color: black;
}

.nav ul {
	padding:0;
	margin: 0px;
	text-align: right;
}

.nav ul li{
	display: inline;
	padding-right: 40px;
}

.nav ul li a {
	font-size: 14px;
	margin:0;
	color:white;
	padding:21px;
	background-color: inherit;
	text-decoration: none;
}

.nav ul li a:hover{
	background-color: grey;
}

div.logobox {
	width: 300px;
	height:300px;
	background-color: black;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -150px;
	margin-left: -150px;
}

#logo{
	margin-top: 30px;
	width:auto;
	height: auto;
}